<section class="todoList-wrapper">
<h1 class="title">Todo App</h1> 
<div class="new-todo">
<input type="text" placeholder="escribe una nueva tarea">
<button>+</button>  
</div>
<div class = "filters">
<button>Todas</button>   
<button>Activas</button>   
<button>Completadas</button>
</div>

<ul class="todoList">   
    <!-- ya está editado -->
<li class="todo">
<input type="checkbox"> 
<label>Título de Tarea</label>  
<button>Editar</button> 
<button>Eliminar</button>
</li>

<li class="todo-editing">   
    <input type="text" placeholder="Editar tarea">

</li>

</ul>

</section>